In [1]:
import populartimes
import os
import sys
from dotenv import load_dotenv
from pathlib import Path
env_path = str(Path('.') / '.env')
load_dotenv(dotenv_path=env_path)

import pandas as pd
import numpy as np
import math
from time import sleep

### Load station data & add data fields

In [2]:
station_output = str(Path('.') / './dataframes/station_output_2017.csv')
# headers = ['id', url, name	plug_score	ports	address	phone	is_free	cost_desc	hours	description	latitude	longitude, 'type', 'created_at', 'local'e]
stationDF = pd.read_csv(station_output,  sep='	', na_values=['NaN'])

In [3]:
stationDF.head()

,id,url,name,plug_score,ports,address,phone,is_free,cost_desc,hours,description,latitude,longitude,type,created_at,locale
0,3,http://api.plugshare.com/view/location/3,Adams/Wabash - Self-Park Garage,5.9,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","17 E Adams St, Chicago IL 60603",(888) 758-4389,No,First 3 hours free. $2/hr after that.,24/7,On right-hand side as you turn on Level 2.,41.879495,-87.626966,G,2011-08-17T00:05:00Z,US
1,5,http://api.plugshare.com/view/location/5,Aspira Seattle Apartment Homes,7.0,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","1823 Terry Ave., Seattle, WA, 98101",(206) 623-8900,Yes,NaN,NaN,Aspira Resident Parking Only,47.615963,-122.333477,B,2011-08-17T00:05:00Z,US
2,6,http://api.plugshare.com/view/location/6,Marc Geller,9.0,"NEMA 14-50, Wall Outlet (120V), EV Plug (J1772)",847 Haight St San Francisco,(415) 336-5678,Yes,NaN,NaN,NaN,37.771370,-122.436203,H,2011-02-28T07:49:39Z,US
3,9,http://api.plugshare.com/view/location/9,Gary Savage,NaN,"Wall Outlet (120V), EV Plug (J1772)","530 Mt Pleasant Ave, Dover, NJ 07801, USA",(973) 349-8805,Yes,NaN,NaN,NaN,40.903189,-74.563347,H,2011-03-21T11:33:39Z,US
4,10,http://api.plugshare.com/view/location/10,Mitch Albert,NaN,EV Plug (J1772),"8016 E Roper St, Long Beach, CA 90808, USA",(562) 572-3740,Yes,NaN,NaN,Please text first 120v,33.816231,-118.074226,H,2011-02-03T05:56:47Z,US

#### create new columns

In [4]:
def filterPorts(x):
    port_count = len(str(x).replace('|', ',').split(','))
    return port_count

def coord_p2(x):
    p2 = float(x) + 0.005
    return p2

def coord_p1(x):
    p1 = float(x) - 0.005
    return p1

In [5]:
stationDF['port_count'] = stationDF['ports'].apply(filterPorts)
stationDF['p1_latitude'] = stationDF['latitude'].apply(coord_p1)
stationDF['p1_longitude'] = stationDF['longitude'].apply(coord_p1)
stationDF['p2_latitude'] = stationDF['latitude'].apply(coord_p2)
stationDF['p2_longitude'] = stationDF['longitude'].apply(coord_p2)

In [6]:
stationDF.head()

,id,url,name,plug_score,ports,address,phone,is_free,cost_desc,hours,...,latitude,longitude,type,created_at,locale,port_count,p1_latitude,p1_longitude,p2_latitude,p2_longitude
0,3,http://api.plugshare.com/view/location/3,Adams/Wabash - Self-Park Garage,5.9,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","17 E Adams St, Chicago IL 60603",(888) 758-4389,No,First 3 hours free. $2/hr after that.,24/7,...,41.879495,-87.626966,G,2011-08-17T00:05:00Z,US,4,41.874495,-87.631966,41.884495,-87.621966
1,5,http://api.plugshare.com/view/location/5,Aspira Seattle Apartment Homes,7.0,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","1823 Terry Ave., Seattle, WA, 98101",(206) 623-8900,Yes,NaN,NaN,...,47.615963,-122.333477,B,2011-08-17T00:05:00Z,US,4,47.610963,-122.338477,47.620963,-122.328477
2,6,http://api.plugshare.com/view/location/6,Marc Geller,9.0,"NEMA 14-50, Wall Outlet (120V), EV Plug (J1772)",847 Haight St San Francisco,(415) 336-5678,Yes,NaN,NaN,...,37.771370,-122.436203,H,2011-02-28T07:49:39Z,US,3,37.766370,-122.441203,37.776370,-122.431203
3,9,http://api.plugshare.com/view/location/9,Gary Savage,NaN,"Wall Outlet (120V), EV Plug (J1772)","530 Mt Pleasant Ave, Dover, NJ 07801, USA",(973) 349-8805,Yes,NaN,NaN,...,40.903189,-74.563347,H,2011-03-21T11:33:39Z,US,2,40.898189,-74.568347,40.908189,-74.558347
4,10,http://api.plugshare.com/view/location/10,Mitch Albert,NaN,EV Plug (J1772),"8016 E Roper St, Long Beach, CA 90808, USA",(562) 572-3740,Yes,NaN,NaN,...,33.816231,-118.074226,H,2011-02-03T05:56:47Z,US,1,33.811231,-118.079226,33.821231,-118.069226

### 1. Get busy times for each station
#### create dataframes for each day of aggregrate busy-ness within a .1 degree radius

In [7]:
# duplicate dataframe
# busy_column = stationDF

In [8]:
# Limit to Massachussets
ub_lat = 42.7248
lb_lat = 42.03705
ub_long = -70.5432
lb_long = -72.1403

In [9]:
# stationDF.loc[stationDF['column_name'] == some_value]
# df.loc[(df['column_name'] == some_value) & df['other_column'].isin(some_values)]
maDF = stationDF.loc[(stationDF['latitude'] < ub_lat) & (stationDF['latitude'] > lb_lat) & (stationDF['longitude'] < ub_long) & (stationDF['longitude'] > lb_long)]

In [10]:
group = [pd.DataFrame(columns=pd.Series(range(0,24)))]*7;

In [11]:
api_key = os.getenv("GOOGLE_API_KEY")
types = ["establishment"]

In [12]:
def calculate_composite(row, index):
    if index > 93879:
        station_id = row['id']
        station_index = index
        composite_array = [[0] * 24] * 7
        p1 = (row['p1_latitude'], row['p1_longitude'])
        p2 = (row['p2_latitude'], row['p2_longitude'])

        alt_id = populartimes.get(api_key, types, p1, p2, n_threads=12)

        # Calculate composite array for busy times
        for location in alt_id:
            for x in range(7):
                try:
                    composite_array[x] = [composite_array[x][i] + location['populartimes'][x]['data'][i] for i in range(24)]
                except:
                    print('error processing item')
                    pass

        # Create dataframes for each iteam
        for i in range(7):
            day_series = pd.DataFrame(composite_array[i:i+1])
            day_series['id'] = station_id
            day_series['index'] = index
            group[i] = group[i].append(day_series)

        print('processed index item: ', group[1])
        return

In [16]:
for i in range(7):
    with open(str(Path('.') / './dataframes/weekly/061818_{}.csv'.format(i)), 'a') as f:
        group[i].to_csv(f, mode='a', header=False)

In [14]:
# group[0]

In [15]:
for index, row in maDF.iterrows(): # change to stationDF for full list
    calculate_composite(row, index)
    print ('processed index / row: ', index)

processed index / row:  16
processed index / row:  37
processed index / row:  132
processed index / row:  162
processed index / row:  201
processed index / row:  214
processed index / row:  235
processed index / row:  315
processed index / row:  336
processed index / row:  426
processed index / row:  446
processed index / row:  501
processed index / row:  538
processed index / row:  544
processed index / row:  555
processed index / row:  558
processed index / row:  622
processed index / row:  1123
processed index / row:  1126
processed index / row:  1127
processed index / row:  1128
processed index / row:  1131
processed index / row:  1133
processed index / row:  1453
processed index / row:  1559
processed index / row:  1880
processed index / row:  1917
processed index / row:  1920
processed index / row:  2197
processed index / row:  2543
processed index / row:  2643
processed index / row:  2672
processed index / row:  2689
processed index / row:  2747
processed index / row:  2940
processed index / row:  2950
processed index / row:  2973
processed index / row:  3059
processed index / row:  3132
processed index / row:  3266
processed index / row:  3270
processed index / row:  3274
processed index / row:  3276
processed index / row:  3290
processed index / row:  3341
processed index / row:  3392
processed index / row:  3393
processed index / row:  3399
processed index / row:  3400
processed index / row:  3408
processed index / row:  3409
processed index / row:  3411
processed index / row:  3413
processed index / row:  3496
processed index / row:  3535
processed index / row:  3536
processed index / row:  3537
processed index / row:  3591
processed index / row:  3630
processed index / row:  3650
processed index / row:  3750
processed index / row:  3776
processed index / row:  3789
processed index / row:  3911
processed index / row:  3930
processed index / row:  3935
processed index / row:  3957
processed index / row:  3958
processed index / row:  3959
processed index / row:  3960
processed index / row:  3990
processed index / row:  4073
processed index / row:  4087
processed index / row:  4148
processed index / row:  4179
processed index / row:  4217
processed index / row:  4218
processed index / row:  4219
processed index / row:  4220
processed index / row:  4221
processed index / row:  4222
processed index / row:  4223
processed index / row:  4224
processed index / row:  4226
processed index / row:  4227
processed index / row:  4242
processed index / row:  4271
processed index / row:  4284
processed index / row:  4285
processed index / row:  4321
processed index / row:  4355
processed index / row:  4367
processed index / row:  4429
processed index / row:  4470
processed index / row:  4478
processed index / row:  4610
processed index / row:  4697
processed index / row:  4714
processed index / row:  4721
processed index / row:  4722
processed index / row:  4723
processed index / row:  4742
processed index / row:  4952
processed index / row:  5067
processed index / row:  5074
processed index / row:  5252
processed index / row:  5255
processed index / row:  5338
processed index / row:  5366
processed index / row:  5415
processed index / row:  5427
processed index / row:  5431
processed index / row:  5432
processed index / row:  5433
processed index / row:  5434
processed index / row:  5435
processed index / row:  5436
processed index / row:  5437
processed index / row:  5451
processed index / row:  5680
processed index / row:  5713
processed index / row:  5770
processed index / row:  5857
processed index / row:  5892
processed index / row:  5935
processed index / row:  6028
processed index / row:  6029
processed index / row:  6190
processed index / row:  6446
processed index / row:  6593
processed index / row:  6672
processed index / row:  6674
processed index / row:  6680
processed index / row:  6784
processed index / row:  6795
processed index / row:  6805
processed index / row:  6855
processed index / row:  6974
processed index / row:  6975
processed index / row:  6976
processed index / row:  6987
processed index / row:  7126
processed index / row:  7246
processed index / row:  7247
processed index / row:  7282
processed index / row:  7283
processed index / row:  7284
processed index / row:  7321
processed index / row:  7394
processed index / row:  7537
processed index / row:  7538
processed index / row:  7552
processed index / row:  7717
processed index / row:  7796
processed index / row:  7822
processed index / row:  7856
processed index / row:  7979
processed index / row:  8060
processed index / row:  8100
processed index / row:  8139
processed index / row:  8158
processed index / row:  8383
processed index / row:  8388
processed index / row:  8447
processed index / row:  8562
processed index / row:  8590
processed index / row:  8601
processed index / row:  8681
processed index / row:  8699
processed index / row:  8823
processed index / row:  8860
processed index / row:  8919
processed index / row:  8925
processed index / row:  8938
processed index / row:  8976
processed index / row:  9014
processed index / row:  9053
processed index / row:  9278
processed index / row:  9297
processed index / row:  9327
processed index / row:  9421
processed index / row:  9466
processed index / row:  9615
processed index / row:  9617
processed index / row:  9704
processed index / row:  9714
processed index / row:  9726
processed index / row:  9803
processed index / row:  9804
processed index / row:  9816
processed index / row:  9824
processed index / row:  9856
processed index / row:  9910
processed index / row:  10018
processed index / row:  10073
processed index / row:  10280
processed index / row:  10291
processed index / row:  10385
processed index / row:  10390
processed index / row:  10391
processed index / row:  10453
processed index / row:  10573
processed index / row:  10605
processed index / row:  10749
processed index / row:  10827
processed index / row:  10840
processed index / row:  10867
processed index / row:  10889
processed index / row:  10998
processed index / row:  11075
processed index / row:  11153
processed index / row:  11172
processed index / row:  11346
processed index / row:  11413
processed index / row:  11450
processed index / row:  11505
processed index / row:  11510
processed index / row:  11513
processed index / row:  11594
processed index / row:  11595
processed index / row:  11596
processed index / row:  11597
processed index / row:  11598
processed index / row:  11792
processed index / row:  11903
processed index / row:  11982
processed index / row:  12098
processed index / row:  12311
processed index / row:  12378
processed index / row:  12406
processed index / row:  12407
processed index / row:  12536
processed index / row:  12614
processed index / row:  12617
processed index / row:  12680
processed index / row:  12710
processed index / row:  12764
processed index / row:  20697
processed index / row:  21624
processed index / row:  21625
processed index / row:  21823
processed index / row:  21836
processed index / row:  21876
processed index / row:  22051
processed index / row:  22136
processed index / row:  22266
processed index / row:  22270
processed index / row:  22569
processed index / row:  22657
processed index / row:  23168
processed index / row:  23188
processed index / row:  23197
processed index / row:  23773
processed index / row:  23780
processed index / row:  26598
processed index / row:  26841
processed index / row:  26886
processed index / row:  26918
processed index / row:  27432
processed index / row:  27715
processed index / row:  27745
processed index / row:  28291
processed index / row:  28639
processed index / row:  28728
processed index / row:  29015
processed index / row:  29075
processed index / row:  29169
processed index / row:  29170
processed index / row:  29191
processed index / row:  29272
processed index / row:  29281
processed index / row:  29512
processed index / row:  32755
processed index / row:  32769
processed index / row:  32810
processed index / row:  33033
processed index / row:  33168
processed index / row:  33173
processed index / row:  33247
processed index / row:  33312
processed index / row:  33492
processed index / row:  33495
processed index / row:  33602
processed index / row:  33669
processed index / row:  33759
processed index / row:  33784
processed index / row:  33864
processed index / row:  33957
processed index / row:  34144
processed index / row:  34263
processed index / row:  34427
processed index / row:  34578
processed index / row:  34690
processed index / row:  34706
processed index / row:  35081
processed index / row:  35515
processed index / row:  35766
processed index / row:  35858
processed index / row:  35956
processed index / row:  36028
processed index / row:  36142
processed index / row:  36205
processed index / row:  36243
processed index / row:  36293
processed index / row:  36329
processed index / row:  36404
processed index / row:  36462
processed index / row:  36480
processed index / row:  36485
processed index / row:  36660
processed index / row:  36666
processed index / row:  36679
processed index / row:  36680
processed index / row:  36759
processed index / row:  36835
processed index / row:  37169
processed index / row:  37266
processed index / row:  37688
processed index / row:  37693
processed index / row:  37825
processed index / row:  38026
processed index / row:  38527
processed index / row:  38767
processed index / row:  38798
processed index / row:  38833
processed index / row:  38919
processed index / row:  38928
processed index / row:  38929
processed index / row:  39116
processed index / row:  39119
processed index / row:  39142
processed index / row:  39146
processed index / row:  39197
processed index / row:  39213
processed index / row:  39222
processed index / row:  39325
processed index / row:  39815
processed index / row:  39948
processed index / row:  40075
processed index / row:  40143
processed index / row:  40330
processed index / row:  40786
processed index / row:  40911
processed index / row:  40912
processed index / row:  41134
processed index / row:  41274
processed index / row:  41316
processed index / row:  41376
processed index / row:  41529
processed index / row:  41721
processed index / row:  41850
processed index / row:  41895
processed index / row:  42289
processed index / row:  42361
processed index / row:  42404
processed index / row:  42417
processed index / row:  42465
processed index / row:  42482
processed index / row:  42576
processed index / row:  42604
processed index / row:  42766
processed index / row:  42864
processed index / row:  43009
processed index / row:  43261
processed index / row:  43308
processed index / row:  43398
processed index / row:  43407
processed index / row:  43559
processed index / row:  43600
processed index / row:  43772
processed index / row:  43840
processed index / row:  43872
processed index / row:  43886
processed index / row:  43887
processed index / row:  43922
processed index / row:  43989
processed index / row:  44153
processed index / row:  44266
processed index / row:  44425
processed index / row:  44640
processed index / row:  44958
processed index / row:  45038
processed index / row:  45057
processed index / row:  45068
processed index / row:  45223
processed index / row:  45281
processed index / row:  45440
processed index / row:  45493
processed index / row:  45540
processed index / row:  45655
processed index / row:  45886
processed index / row:  45957
processed index / row:  46184
processed index / row:  47718
processed index / row:  48014
processed index / row:  48446
processed index / row:  48461
processed index / row:  48475
processed index / row:  48642
processed index / row:  48683
processed index / row:  48864
processed index / row:  48942
processed index / row:  49098
processed index / row:  51282
processed index / row:  51862
processed index / row:  51871
processed index / row:  51900
processed index / row:  51904
processed index / row:  52114
processed index / row:  52206
processed index / row:  52438
processed index / row:  52502
processed index / row:  52723
processed index / row:  52733
processed index / row:  52822
processed index / row:  53566
processed index / row:  53787
processed index / row:  53933
processed index / row:  53972
processed index / row:  54353
processed index / row:  54496
processed index / row:  54530
processed index / row:  54657
processed index / row:  54659
processed index / row:  54679
processed index / row:  54700
processed index / row:  54807
processed index / row:  54930
processed index / row:  55449
processed index / row:  55510
processed index / row:  55709
processed index / row:  55862
processed index / row:  56183
processed index / row:  56319
processed index / row:  56416
processed index / row:  56433
processed index / row:  56790
processed index / row:  56852
processed index / row:  58367
processed index / row:  58466
processed index / row:  58701
processed index / row:  58737
processed index / row:  58888
processed index / row:  59044
processed index / row:  59089
processed index / row:  59225
processed index / row:  59436
processed index / row:  59538
processed index / row:  60201
processed index / row:  60312
processed index / row:  60390
processed index / row:  60566
processed index / row:  61323
processed index / row:  61450
processed index / row:  61457
processed index / row:  61471
processed index / row:  61621
processed index / row:  61673
processed index / row:  61910
processed index / row:  62014
processed index / row:  62069
processed index / row:  62242
processed index / row:  62259
processed index / row:  62413
processed index / row:  62416
processed index / row:  62444
processed index / row:  62512
processed index / row:  63256
processed index / row:  63298
processed index / row:  63334
processed index / row:  63348
processed index / row:  63486
processed index / row:  63526
processed index / row:  63657
processed index / row:  63757
processed index / row:  63759
processed index / row:  63966
processed index / row:  64133
processed index / row:  64146
processed index / row:  64168
processed index / row:  64603
processed index / row:  65170
processed index / row:  65394
processed index / row:  65461
processed index / row:  65594
processed index / row:  65616
processed index / row:  65727
processed index / row:  65762
processed index / row:  65847
processed index / row:  66010
processed index / row:  66015
processed index / row:  66112
processed index / row:  66370
processed index / row:  66580
processed index / row:  66671
processed index / row:  66879
processed index / row:  66898
processed index / row:  67846
processed index / row:  68012
processed index / row:  68166
processed index / row:  68334
processed index / row:  68455
processed index / row:  68952
processed index / row:  69273
processed index / row:  69349
processed index / row:  69361
processed index / row:  69375
processed index / row:  69399
processed index / row:  69523
processed index / row:  69897
processed index / row:  70275
processed index / row:  70359
processed index / row:  71215
processed index / row:  71447
processed index / row:  71592
processed index / row:  71875
processed index / row:  71985
processed index / row:  72005
processed index / row:  72177
processed index / row:  72211
processed index / row:  72367
processed index / row:  72694
processed index / row:  72792
processed index / row:  72913
processed index / row:  73275
processed index / row:  73321
processed index / row:  73322
processed index / row:  73450
processed index / row:  73492
processed index / row:  73897
processed index / row:  73956
processed index / row:  73958
processed index / row:  78343
processed index / row:  78496
processed index / row:  78571
processed index / row:  78712
processed index / row:  78766
processed index / row:  78866
processed index / row:  79015
processed index / row:  79021
processed index / row:  79588
processed index / row:  79694
processed index / row:  79755
processed index / row:  79971
processed index / row:  80184
processed index / row:  80494
processed index / row:  81126
processed index / row:  81127
processed index / row:  81188
processed index / row:  81488
processed index / row:  81598
processed index / row:  81680
processed index / row:  81779
processed index / row:  82202
processed index / row:  82258
processed index / row:  82295
processed index / row:  82416
processed index / row:  82584
processed index / row:  82816
processed index / row:  82837
processed index / row:  83229
processed index / row:  83388
processed index / row:  83411
processed index / row:  83628
processed index / row:  83883
processed index / row:  83903
processed index / row:  84105
processed index / row:  84167
processed index / row:  85602
processed index / row:  86126
processed index / row:  86283
processed index / row:  86610
processed index / row:  86615
processed index / row:  86823
processed index / row:  86851
processed index / row:  86927
processed index / row:  86948
processed index / row:  87123
processed index / row:  87156
processed index / row:  87191
processed index / row:  87329
processed index / row:  87438
processed index / row:  87488
processed index / row:  87532
processed index / row:  87615
processed index / row:  87632
processed index / row:  88568
processed index / row:  88627
processed index / row:  89180
processed index / row:  89378
processed index / row:  89881
processed index / row:  89882
processed index / row:  89883
processed index / row:  89890
processed index / row:  90061
processed index / row:  90070
processed index / row:  90082
processed index / row:  90196
processed index / row:  90273
processed index / row:  90444
processed index / row:  90499
processed index / row:  90543
processed index / row:  90918
processed index / row:  90919
processed index / row:  91046
processed index / row:  91135
processed index / row:  91159
processed index / row:  91207
processed index / row:  91212
processed index / row:  91214
processed index / row:  91680
processed index / row:  92181
processed index / row:  92472
processed index / row:  92577
processed index / row:  92613
processed index / row:  92741
processed index / row:  92878
processed index / row:  92945
processed index / row:  92957
processed index / row:  93111
processed index / row:  93210
processed index / row:  93456
processed index / row:  93490
processed index / row:  93631
processed index / row:  93879

//anaconda/lib/python3.5/site-packages/pandas/core/indexes/api.py:77: RuntimeWarning: unorderable types: int() < str(), sort order is undefined for incomparable objects
  result = result.union(other)

processed index item:      0  1  2  3   4   5   6    7    8     9   ...       16   17   18   19   20  \
0  11  3  3  3  23  43  99  250  570  1033   ...     1035  902  831  644  410

    21  22  23        id    index
0  165  26  17  126952.0  94246.0

[1 rows x 26 columns]
processed index / row:  94246
processed index item:       0    1   2   3   4    5    6    7    8     9   ...       16    17    18  \
0   11    3   3   3  23   43   99  250  570  1033   ...     1035   902   831
0  312  190  83  44  18  114  239  391  939  1366   ...     2547  2937  3312

     19    20    21    22   23        id    index
0   644   410   165    26   17  126952.0  94246.0
0  3159  2478  1868  1269  723  127020.0  94306.0

[2 rows x 26 columns]
processed index / row:  94306
processed index item:       0    1   2   3   4    5    6    7    8     9   ...       16    17    18  \
0   11    3   3   3  23   43   99  250  570  1033   ...     1035   902   831
0  312  190  83  44  18  114  239  391  939  1366   ...     2547  2937  3312
0  106   21   0   0   0    7   76  226  511   878   ...     1618  1770  1925

     19    20    21    22   23        id    index
0   644   410   165    26   17  126952.0  94246.0
0  3159  2478  1868  1269  723  127020.0  94306.0
0  1823  1327   856   284  166  127252.0  94520.0

[3 rows x 26 columns]
processed index / row:  94520
processed index item:       0    1   2   3   4    5    6    7    8     9   ...       16    17    18  \
0   11    3   3   3  23   43   99  250  570  1033   ...     1035   902   831
0  312  190  83  44  18  114  239  391  939  1366   ...     2547  2937  3312
0  106   21   0   0   0    7   76  226  511   878   ...     1618  1770  1925
0    0    0   0   0   0    0    0    0   90    63   ...       81     0     0

     19    20    21    22   23        id    index
0   644   410   165    26   17  126952.0  94246.0
0  3159  2478  1868  1269  723  127020.0  94306.0
0  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0    0  127268.0  94534.0

[4 rows x 26 columns]
processed index / row:  94534
processed index item:       0    1   2   3   4    5    6    7    8     9   ...       16    17    18  \
0   11    3   3   3  23   43   99  250  570  1033   ...     1035   902   831
0  312  190  83  44  18  114  239  391  939  1366   ...     2547  2937  3312
0  106   21   0   0   0    7   76  226  511   878   ...     1618  1770  1925
0    0    0   0   0   0    0    0    0   90    63   ...       81     0     0
0   27    8   8   8   2    5  113  297  490   778   ...     1113  1128  1165

     19    20    21    22   23        id    index
0   644   410   165    26   17  126952.0  94246.0
0  3159  2478  1868  1269  723  127020.0  94306.0
0  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0    0  127268.0  94534.0
0  1017   848   601   279  131  127641.0  94855.0

[5 rows x 26 columns]
processed index / row:  94855
processed index item:       0    1   2   3   4    5    6    7    8     9   ...       16    17    18  \
0   11    3   3   3  23   43   99  250  570  1033   ...     1035   902   831
0  312  190  83  44  18  114  239  391  939  1366   ...     2547  2937  3312
0  106   21   0   0   0    7   76  226  511   878   ...     1618  1770  1925
0    0    0   0   0   0    0    0    0   90    63   ...       81     0     0
0   27    8   8   8   2    5  113  297  490   778   ...     1113  1128  1165
0    0    0   0   0   0    0    0    0    0     0   ...        0     0     0

     19    20    21    22   23        id    index
0   644   410   165    26   17  126952.0  94246.0
0  3159  2478  1868  1269  723  127020.0  94306.0
0  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0    0  127268.0  94534.0
0  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0    0  127644.0  94858.0

[6 rows x 26 columns]
processed index / row:  94858
processed index item:       0    1   2   3   4    5    6    7    8     9   ...       16    17    18  \
0   11    3   3   3  23   43   99  250  570  1033   ...     1035   902   831
0  312  190  83  44  18  114  239  391  939  1366   ...     2547  2937  3312
0  106   21   0   0   0    7   76  226  511   878   ...     1618  1770  1925
0    0    0   0   0   0    0    0    0   90    63   ...       81     0     0
0   27    8   8   8   2    5  113  297  490   778   ...     1113  1128  1165
0    0    0   0   0   0    0    0    0    0     0   ...        0     0     0
0    0    0   0   0   0    0    0    0   69    80   ...       46    28     0

     19    20    21    22   23        id    index
0   644   410   165    26   17  126952.0  94246.0
0  3159  2478  1868  1269  723  127020.0  94306.0
0  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0    0  127268.0  94534.0
0  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0    0  128200.0  95358.0

[7 rows x 26 columns]
processed index / row:  95358
processed index item:       0    1   2   3   4    5    6     7     8     9   ...       16    17  \
0   11    3   3   3  23   43   99   250   570  1033   ...     1035   902
0  312  190  83  44  18  114  239   391   939  1366   ...     2547  2937
0  106   21   0   0   0    7   76   226   511   878   ...     1618  1770
0    0    0   0   0   0    0    0     0    90    63   ...       81     0
0   27    8   8   8   2    5  113   297   490   778   ...     1113  1128
0    0    0   0   0   0    0    0     0     0     0   ...        0     0
0    0    0   0   0   0    0    0     0    69    80   ...       46    28
0  357  163  42  43  33  115  464  1194  1974  2785   ...     6572  6790

     18    19    20    21    22   23        id    index
0   831   644   410   165    26   17  126952.0  94246.0
0  3312  3159  2478  1868  1269  723  127020.0  94306.0
0  1925  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0     0    0  127268.0  94534.0
0  1165  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0     0    0  128200.0  95358.0
0  7017  6200  4434  2762  1272  604  128330.0  95465.0

[8 rows x 26 columns]
processed index / row:  95465
processed index item:       0    1   2   3   4    5    6     7     8     9   ...       16    17  \
0   11    3   3   3  23   43   99   250   570  1033   ...     1035   902
0  312  190  83  44  18  114  239   391   939  1366   ...     2547  2937
0  106   21   0   0   0    7   76   226   511   878   ...     1618  1770
0    0    0   0   0   0    0    0     0    90    63   ...       81     0
0   27    8   8   8   2    5  113   297   490   778   ...     1113  1128
0    0    0   0   0   0    0    0     0     0     0   ...        0     0
0    0    0   0   0   0    0    0     0    69    80   ...       46    28
0  357  163  42  43  33  115  464  1194  1974  2785   ...     6572  6790
0    0    0   0   0   0    0    0     0     0     0   ...       12    29

     18    19    20    21    22   23        id    index
0   831   644   410   165    26   17  126952.0  94246.0
0  3312  3159  2478  1868  1269  723  127020.0  94306.0
0  1925  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0     0    0  127268.0  94534.0
0  1165  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0     0    0  128200.0  95358.0
0  7017  6200  4434  2762  1272  604  128330.0  95465.0
0    29    33    62    80     0    0  128402.0  95527.0

[9 rows x 26 columns]
processed index / row:  95527

WARNING:root:more than 200 places in search radius, some data may get lost

processed index item:       0    1   2   3   4    5    6     7     8     9   ...       16    17  \
0   11    3   3   3  23   43   99   250   570  1033   ...     1035   902
0  312  190  83  44  18  114  239   391   939  1366   ...     2547  2937
0  106   21   0   0   0    7   76   226   511   878   ...     1618  1770
0    0    0   0   0   0    0    0     0    90    63   ...       81     0
0   27    8   8   8   2    5  113   297   490   778   ...     1113  1128
0    0    0   0   0   0    0    0     0     0     0   ...        0     0
0    0    0   0   0   0    0    0     0    69    80   ...       46    28
0  357  163  42  43  33  115  464  1194  1974  2785   ...     6572  6790
0    0    0   0   0   0    0    0     0     0     0   ...       12    29
0  385  212  74  48  32  100  398   947  2666  4614   ...     6647  6461

     18    19    20    21    22   23        id    index
0   831   644   410   165    26   17  126952.0  94246.0
0  3312  3159  2478  1868  1269  723  127020.0  94306.0
0  1925  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0     0    0  127268.0  94534.0
0  1165  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0     0    0  128200.0  95358.0
0  7017  6200  4434  2762  1272  604  128330.0  95465.0
0    29    33    62    80     0    0  128402.0  95527.0
0  6311  5849  4708  3273  1778  982  128973.0  96061.0

[10 rows x 26 columns]
processed index / row:  96061
processed index item:       0    1   2   3   4    5    6     7     8     9   ...       16    17  \
0   11    3   3   3  23   43   99   250   570  1033   ...     1035   902
0  312  190  83  44  18  114  239   391   939  1366   ...     2547  2937
0  106   21   0   0   0    7   76   226   511   878   ...     1618  1770
0    0    0   0   0   0    0    0     0    90    63   ...       81     0
0   27    8   8   8   2    5  113   297   490   778   ...     1113  1128
0    0    0   0   0   0    0    0     0     0     0   ...        0     0
0    0    0   0   0   0    0    0     0    69    80   ...       46    28
0  357  163  42  43  33  115  464  1194  1974  2785   ...     6572  6790
0    0    0   0   0   0    0    0     0     0     0   ...       12    29
0  385  212  74  48  32  100  398   947  2666  4614   ...     6647  6461
0   11   11  11  20  29   64  197   264   302   615   ...      722   748

     18    19    20    21    22   23        id    index
0   831   644   410   165    26   17  126952.0  94246.0
0  3312  3159  2478  1868  1269  723  127020.0  94306.0
0  1925  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0     0    0  127268.0  94534.0
0  1165  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0     0    0  128200.0  95358.0
0  7017  6200  4434  2762  1272  604  128330.0  95465.0
0    29    33    62    80     0    0  128402.0  95527.0
0  6311  5849  4708  3273  1778  982  128973.0  96061.0
0   673   467   358   259   127   61  130460.0  97408.0

[11 rows x 26 columns]
processed index / row:  97408
processed index item:       0    1   2   3   4    5    6     7     8     9   ...       16    17  \
0   11    3   3   3  23   43   99   250   570  1033   ...     1035   902
0  312  190  83  44  18  114  239   391   939  1366   ...     2547  2937
0  106   21   0   0   0    7   76   226   511   878   ...     1618  1770
0    0    0   0   0   0    0    0     0    90    63   ...       81     0
0   27    8   8   8   2    5  113   297   490   778   ...     1113  1128
0    0    0   0   0   0    0    0     0     0     0   ...        0     0
0    0    0   0   0   0    0    0     0    69    80   ...       46    28
0  357  163  42  43  33  115  464  1194  1974  2785   ...     6572  6790
0    0    0   0   0   0    0    0     0     0     0   ...       12    29
0  385  212  74  48  32  100  398   947  2666  4614   ...     6647  6461
0   11   11  11  20  29   64  197   264   302   615   ...      722   748
0    0    0   0   0   2    5   35   195   351   502   ...      476   282

     18    19    20    21    22   23        id    index
0   831   644   410   165    26   17  126952.0  94246.0
0  3312  3159  2478  1868  1269  723  127020.0  94306.0
0  1925  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0     0    0  127268.0  94534.0
0  1165  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0     0    0  128200.0  95358.0
0  7017  6200  4434  2762  1272  604  128330.0  95465.0
0    29    33    62    80     0    0  128402.0  95527.0
0  6311  5849  4708  3273  1778  982  128973.0  96061.0
0   673   467   358   259   127   61  130460.0  97408.0
0   230   182   150   101     8    5  130529.0  97469.0

[12 rows x 26 columns]
processed index / row:  97469
processed index item:       0    1   2   3   4    5    6     7     8     9   ...       16    17  \
0   11    3   3   3  23   43   99   250   570  1033   ...     1035   902
0  312  190  83  44  18  114  239   391   939  1366   ...     2547  2937
0  106   21   0   0   0    7   76   226   511   878   ...     1618  1770
0    0    0   0   0   0    0    0     0    90    63   ...       81     0
0   27    8   8   8   2    5  113   297   490   778   ...     1113  1128
0    0    0   0   0   0    0    0     0     0     0   ...        0     0
0    0    0   0   0   0    0    0     0    69    80   ...       46    28
0  357  163  42  43  33  115  464  1194  1974  2785   ...     6572  6790
0    0    0   0   0   0    0    0     0     0     0   ...       12    29
0  385  212  74  48  32  100  398   947  2666  4614   ...     6647  6461
0   11   11  11  20  29   64  197   264   302   615   ...      722   748
0    0    0   0   0   2    5   35   195   351   502   ...      476   282
0   16    0   0   0   0   56  131   261   483   757   ...      906  1125

     18    19    20    21    22   23        id    index
0   831   644   410   165    26   17  126952.0  94246.0
0  3312  3159  2478  1868  1269  723  127020.0  94306.0
0  1925  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0     0    0  127268.0  94534.0
0  1165  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0     0    0  128200.0  95358.0
0  7017  6200  4434  2762  1272  604  128330.0  95465.0
0    29    33    62    80     0    0  128402.0  95527.0
0  6311  5849  4708  3273  1778  982  128973.0  96061.0
0   673   467   358   259   127   61  130460.0  97408.0
0   230   182   150   101     8    5  130529.0  97469.0
0  1367  1240   807   420   103   36  130602.0  97535.0

[13 rows x 26 columns]
processed index / row:  97535
processed index item:       0    1   2   3   4    5    6     7     8     9   ...       16    17  \
0   11    3   3   3  23   43   99   250   570  1033   ...     1035   902
0  312  190  83  44  18  114  239   391   939  1366   ...     2547  2937
0  106   21   0   0   0    7   76   226   511   878   ...     1618  1770
0    0    0   0   0   0    0    0     0    90    63   ...       81     0
0   27    8   8   8   2    5  113   297   490   778   ...     1113  1128
0    0    0   0   0   0    0    0     0     0     0   ...        0     0
0    0    0   0   0   0    0    0     0    69    80   ...       46    28
0  357  163  42  43  33  115  464  1194  1974  2785   ...     6572  6790
0    0    0   0   0   0    0    0     0     0     0   ...       12    29
0  385  212  74  48  32  100  398   947  2666  4614   ...     6647  6461
0   11   11  11  20  29   64  197   264   302   615   ...      722   748
0    0    0   0   0   2    5   35   195   351   502   ...      476   282
0   16    0   0   0   0   56  131   261   483   757   ...      906  1125
0    0    0   0   0   0   28   86   173   377   662   ...      857   666

     18    19    20    21    22   23        id    index
0   831   644   410   165    26   17  126952.0  94246.0
0  3312  3159  2478  1868  1269  723  127020.0  94306.0
0  1925  1823  1327   856   284  166  127252.0  94520.0
0     0     0     0     0     0    0  127268.0  94534.0
0  1165  1017   848   601   279  131  127641.0  94855.0
0     0     0     0     0     0    0  127644.0  94858.0
0     0     0     0     0     0    0  128200.0  95358.0
0  7017  6200  4434  2762  1272  604  128330.0  95465.0
0    29    33    62    80     0    0  128402.0  95527.0
0  6311  5849  4708  3273  1778  982  128973.0  96061.0
0   673   467   358   259   127   61  130460.0  97408.0
0   230   182   150   101     8    5  130529.0  97469.0
0  1367  1240   807   420   103   36  130602.0  97535.0
0   416   231    39     0     0    0  130730.0  97651.0

[14 rows x 26 columns]
processed index / row:  97651

In [38]:
len([0,0])

2

### 2. Create number of ports dataframe
#### same size as the busy-ness dataframes to be able to do matrix multiplication

In [26]:
ports_df = pd.DataFrame(columns=pd.Series(range(0,24)))

for i in range(24):
    ports_df[i] = stationDF['port_count']

with open(str(Path('.') / './dataframes/ports_df.csv'), 'a') as f:
    ports_df.to_csv(f, mode='a', header=False)

In [19]:
# stationDF['address']

In [13]:
# stationDF.loc[stationDF['column_name'] == some_value]

### 3. Create quality of port dataframe
#### turn this into a percentage scalar to adjust demand based on perceived quality (div by 10)

In [38]:
# create percentage quality score
stationDF['quality_score'] = stationDF['plug_score'] / 10
stationDF['quality_score'] = stationDF['quality_score'].fillna(value=1)
# print(stationDF['quality_score'])

In [36]:
quality_df = pd.DataFrame(columns=pd.Series(range(0,24)))

for i in range(24):
    quality_df[i] = stationDF['quality_score']

with open(str(Path('.') / './dataframes/quality_df.csv'), 'a') as f:
    quality_df.to_csv(f, mode='a', header=False)

In [40]:
# save stationDF as new CSV to reduce overhead
with open(str(Path('.') / './dataframes/station_updated_db.csv'), 'a') as f:
    stationDF.to_csv(f, mode='a', header=True)

In [32]:
with open(str(Path('.') / './dataframes/ma_df.csv'), 'a') as f:
    maDF.to_csv(f, mode='a', header=True)

### 4. Create file for US EV sales by car / plug type
#### use this for determining specific port busy-ness granularity

In [26]:
ev_sales = str(Path('.') / './dataframes/2017_ev_sales_by_mfg.csv')
ev_sales_df = pd.read_csv(ev_sales,  sep=',', na_values=['NaN'])
ev_sales_df

,BRAND,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,TOTAL,MARKET_SHARE
0,Tesla Model S*,900,1750,3450,1125,1620,2350,1425,2150,4860,1120,1335,4975,"27,060",0.1354
1,Chevrolet Bolt EV,1162,952,978,1292,1566,1642,1971,2107,2632,2781,2987,3227,"23,297",0.1166
2,Tesla Model X*,750,800,2750,715,1730,2200,1650,1575,3120,850,1875,3300,"21,315",0.1067
3,Toyota Prius Prime,1366,1362,1618,1819,1908,1619,1645,1820,1899,1626,1834,2420,"20,936",0.1048
4,Chevrolet Volt,1611,1820,2132,1807,1817,1745,1518,1445,1453,1362,1702,1937,"20,349",0.1018
5,Nissan LEAF,772,1037,1478,1063,1392,1506,1283,1154,1055,213,175,102,"11,230",0.0562
6,Ford Fusion Energi,606,837,1002,905,1000,707,703,762,763,741,731,875,"9,632",0.0482
7,Ford C-Max Energi,473,639,662,720,950,936,844,705,683,569,523,436,"8,140",0.0407
8,BMW i3 (BEV + REx),382,318,703,516,506,567,601,504,538,686,283,672,"6,276",0.0314
9,Fiat 500e**,752,590,785,541,473,359,395,290,285,310,215,385,"5,380",0.0269
10,BMWX5 xDrive 40e,262,275,397,291,433,488,463,317,333,329,929,832,"5,349",0.0268
11,Chrysler Pacifica Hybrid**,12,0,0,335,705,355,125,425,475,875,570,720,"4,597",0.0230
12,BMW 330e,129,144,365,260,475,496,387,409,329,307,477,363,"4,141",0.0207
13,BMW 530e,NaN,NaN,NaN,13,147,239,343,345,511,596,872,706,"3,772",0.0189
14,Volkswagen e-Golf,332,293,342,307,381,232,308,317,187,203,289,343,"3,534",0.0177
15,Audi A3 Sportback e-tron,387,400,414,301,294,324,218,129,85,17,38,270,"2,877",0.0144
16,Hyundai Sonata PHEV,190,175,295,280,220,255,205,185,190,210,135,195,"2,535",0.0127
17,Volvo XC90 T8 PHEV,96,83,103,145,146,202,174,265,236,174,204,368,"2,196",0.0110
18,Kia Soul EV,117,152,171,167,129,100,145,300,255,210,207,204,"2,157",0.0108
19,Ford Focus Electric,56,228,407,125,132,110,148,131,131,115,121,113,"1,817",0.0091
20,Tesla Model 3,NaN,NaN,NaN,NaN,NaN,NaN,30,75,117,145,345,1060,"1,772",0.0089
21,Porsche Cayenne S-E,177,121,126,185,174,195,160,178,124,73,38,23,"1,574",0.0079
22,Kia Optima PHEV,10,61,70,86,85,78,130,182,228,235,213,134,"1,512",0.0076
23,Honda Clarity BEV,NaN,NaN,NaN,NaN,NaN,NaN,34,15,52,34,459,527,"1,121",0.0056
24,Honda Clarity PHEV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,898,903,0.0045
25,Mercedes C350e,210,51,17,3,7,0,112,212,126,49,16,14,817,0.0041
26,Mercedes B250e,53,56,50,66,46,46,81,58,87,59,31,111,744,0.0037
27,BMW 740e,18,35,42,123,33,52,80,39,43,55,120,67,707,0.0035
28,Mercedes S550e,55,51,60,81,83,81,124,32,35,16,22,26,666,0.0033
29,smart ED,15,22,13,3,1,3,0,94,123,73,68,129,544,0.0027
30,Volvo XC60 PHEV,NaN,NaN,NaN,NaN,NaN,NaN,13,65,97,100,82,174,531,0.0027
31,BMW i8,50,58,49,23,18,22,55,29,27,33,44,80,488,0.0024
32,Mini Countryman SE PHEV,NaN,NaN,NaN,NaN,NaN,10,75,86,80,56,96,72,475,0.0024
33,Mercedes GLE 550e,52,59,47,36,33,41,27,23,14,8,41,82,463,0.0023
34,Hyundai IONIQ EV,NaN,NaN,5,19,75,58,43,66,36,28,23,79,432,0.0022
35,Cadillac CT6 PHEV,NaN,NaN,NaN,8,16,20,22,23,27,27,29,35,207,0.0010
36,Volvo S90 T8 PHEV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,28,32,52,117,0.0006
37,Mitsubishi Outlander PHEV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,99,0.0005
38,Chevrolet Spark EV,4,4,3,1,0,1,1,0,0,0,7,2,23,0.0001
39,Porsche Panamera E-Hybrid,2,1,3,2,1,0,0,1,1,2,5,0,18,0.0001
40,Cadillac ELR,3,0,2,2,0,7,2,1,0,0,0,0,17,0.0001
41,Mitsubishi i-MiEV,1,3,2,0,0,0,0,0,0,0,0,0,6,0.0000
42,2017 U.S. Sales Totals,"11,005","12,377","18,541","13,365","16,596","17,046","15,540","16,514","21,242","14,315","17,178","26,107","199,826",1.0000
43,2016 U.S. Sales Totals,"6,221","7,763","13,857","10,531","11,467","14,863","13,067","14,592","17,224","11,007","13,237","24,785","158,614",NaN
44,2017 Worldwide Sales*,"41,372","53,561","94,650","71,762","91,417","102,130","92,835","104,225","124,197","125,447","148,903","176,618","1,227,117",NaN

### 5. Calculate composite dataframe 
#### multiply each data frame 1-3 above to yield dataframe 4

### 6. Save dataframes to AWS
#### test API calls to get availability at current time or a specific time

### Sandbox

In [18]:
# Get Google data for an address and compare versus Lat / Lng

In [19]:
# See what is returned for that address

# See what types are returned

In [200]:
print(len(alt_id))

1

In [ ]:
# alt_id[ESTABLISHMENT]['populartimes'][DAY_OF_WEEK]['data]
# returns an array of 24 times
# print(alt_id[0]['populartimes'][0]['data'])

In [ ]:
# print(composite_array[6])
# a = [[0] * 24] * 7
# print(alt_id[0]['populartimes'][0]['data'])
# print(alt_id[0]['populartimes'][0]['data'][24])
# print(alt_id[0]['populartimes'][0]['data'][25])

In [ ]:
# google_places = GooglePlaces(api_key)

# query_result = google_places.nearby_search(location=test_address)
# for place in query_result.places:
#     print (place.name)
#     print (place.geo_location)
#     print (place.place_id)

# for place in query_result.places:
#     place.get_details()
#     print (place.rating)

In [7]:
# api_key = os.getenv("GOOGLE_API_KEY")
# test_address = "1018 Campus Drive, Stanford, CA 94305, USA"
# test_address_2 = "125 Precita Ave, Moss Beach, CA 94038, USA"
# test_address_3 = "425 S Main St, Ann Arbor MI 48104"
# types = ["establishment"]
# p1 = (37.220627, -122.369142)
# p2 = (37.230627, -122.359142)

In [8]:
# test_name = "Boulder Nissan"
# p1_name = (40.015141, -105.278906)
# p2_name = (40.025141, -105.268906)

# min(p1_name[0], p2_name[0])

In [9]:
# alt_id = populartimes.get(api_key, types, p1_name, p2_name)

In [10]:
# composite_array = [[0] * 24] * 7

In [11]:
# for location in alt_id:
#     for x in range(7):
#     #     composite_array = [a[i]+b[i] for i in range(len(a))]
#         try:
#             composite_array[x] = [composite_array[x][i] + location['populartimes'][x]['data'][i] for i in range(24)]
#         except:
#             print('error processing item')
#             pass

In [12]:
# print(composite_array)

In [13]:
# print(alt_id[7]['populartimes'][6]['data'])

# df_test = pd.DataFrame()

In [14]:
# df_test.append([[1,0,0,0], [2,0,0,0]])

In [14]:
# api_key = os.getenv("GOOGLE_API_KEY")
# types = ["establishment"]
# p1_name = [40.015141, -105.278906]
# p2_name = [40.025141, -105.268906]
# composite_array = [[0] * 24] * 7

# alt_id = populartimes.get(api_key, types, p1_name, p2_name)

In [15]:
# for location in alt_id:
#     for x in range(7):
#     #     composite_array = [a[i]+b[i] for i in range(len(a))]
#         try:
#             composite_array[x] = [composite_array[x][i] + location['populartimes'][x]['data'][i] for i in range(24)]
#             print(composite_array[x])
#         except:
#             print('error processing item')
#             pass

In [16]:
# for i in range(7):
#     day_series = pd.DataFrame(composite_array[i:i+1])
#     day_series['id'] = 3
#     group[i] = group[i].append(day_series)

In [17]:
# print('processed item, current group[1] is: ', group[1])