In [1]:
import populartimes
import os
import sys
from dotenv import load_dotenv
from pathlib import Path
env_path = str(Path('.') / '.env')
load_dotenv(dotenv_path=env_path)

import pandas as pd
import numpy as np
import math
from time import sleep

### Load station data & add data fields

In [2]:
station_output = str(Path('.') / './dataframes/station_output_2017.csv')
# headers = ['id', url, name	plug_score	ports	address	phone	is_free	cost_desc	hours	description	latitude	longitude, 'type', 'created_at', 'local'e]
stationDF = pd.read_csv(station_output,  sep='	', na_values=['NaN'])

In [3]:
stationDF.head()

,id,url,name,plug_score,ports,address,phone,is_free,cost_desc,hours,description,latitude,longitude,type,created_at,locale
0,3,http://api.plugshare.com/view/location/3,Adams/Wabash - Self-Park Garage,5.9,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","17 E Adams St, Chicago IL 60603",(888) 758-4389,No,First 3 hours free. $2/hr after that.,24/7,On right-hand side as you turn on Level 2.,41.879495,-87.626966,G,2011-08-17T00:05:00Z,US
1,5,http://api.plugshare.com/view/location/5,Aspira Seattle Apartment Homes,7.0,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","1823 Terry Ave., Seattle, WA, 98101",(206) 623-8900,Yes,NaN,NaN,Aspira Resident Parking Only,47.615963,-122.333477,B,2011-08-17T00:05:00Z,US
2,6,http://api.plugshare.com/view/location/6,Marc Geller,9.0,"NEMA 14-50, Wall Outlet (120V), EV Plug (J1772)",847 Haight St San Francisco,(415) 336-5678,Yes,NaN,NaN,NaN,37.771370,-122.436203,H,2011-02-28T07:49:39Z,US
3,9,http://api.plugshare.com/view/location/9,Gary Savage,NaN,"Wall Outlet (120V), EV Plug (J1772)","530 Mt Pleasant Ave, Dover, NJ 07801, USA",(973) 349-8805,Yes,NaN,NaN,NaN,40.903189,-74.563347,H,2011-03-21T11:33:39Z,US
4,10,http://api.plugshare.com/view/location/10,Mitch Albert,NaN,EV Plug (J1772),"8016 E Roper St, Long Beach, CA 90808, USA",(562) 572-3740,Yes,NaN,NaN,Please text first 120v,33.816231,-118.074226,H,2011-02-03T05:56:47Z,US

#### create new columns

In [4]:
def filterPorts(x):
    port_count = len(str(x).replace('|', ',').split(','))
    return port_count

def coord_p2(x):
    p2 = float(x) + 0.005
    return p2

def coord_p1(x):
    p1 = float(x) - 0.005
    return p1

In [5]:
stationDF['port_count'] = stationDF['ports'].apply(filterPorts)
stationDF['p1_latitude'] = stationDF['latitude'].apply(coord_p1)
stationDF['p1_longitude'] = stationDF['longitude'].apply(coord_p1)
stationDF['p2_latitude'] = stationDF['latitude'].apply(coord_p2)
stationDF['p2_longitude'] = stationDF['longitude'].apply(coord_p2)

In [6]:
stationDF.head()

,id,url,name,plug_score,ports,address,phone,is_free,cost_desc,hours,...,latitude,longitude,type,created_at,locale,port_count,p1_latitude,p1_longitude,p2_latitude,p2_longitude
0,3,http://api.plugshare.com/view/location/3,Adams/Wabash - Self-Park Garage,5.9,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","17 E Adams St, Chicago IL 60603",(888) 758-4389,No,First 3 hours free. $2/hr after that.,24/7,...,41.879495,-87.626966,G,2011-08-17T00:05:00Z,US,4,41.874495,-87.631966,41.884495,-87.621966
1,5,http://api.plugshare.com/view/location/5,Aspira Seattle Apartment Homes,7.0,"ChargePoint: Wall Outlet (120V), EV Plug (J177...","1823 Terry Ave., Seattle, WA, 98101",(206) 623-8900,Yes,NaN,NaN,...,47.615963,-122.333477,B,2011-08-17T00:05:00Z,US,4,47.610963,-122.338477,47.620963,-122.328477
2,6,http://api.plugshare.com/view/location/6,Marc Geller,9.0,"NEMA 14-50, Wall Outlet (120V), EV Plug (J1772)",847 Haight St San Francisco,(415) 336-5678,Yes,NaN,NaN,...,37.771370,-122.436203,H,2011-02-28T07:49:39Z,US,3,37.766370,-122.441203,37.776370,-122.431203
3,9,http://api.plugshare.com/view/location/9,Gary Savage,NaN,"Wall Outlet (120V), EV Plug (J1772)","530 Mt Pleasant Ave, Dover, NJ 07801, USA",(973) 349-8805,Yes,NaN,NaN,...,40.903189,-74.563347,H,2011-03-21T11:33:39Z,US,2,40.898189,-74.568347,40.908189,-74.558347
4,10,http://api.plugshare.com/view/location/10,Mitch Albert,NaN,EV Plug (J1772),"8016 E Roper St, Long Beach, CA 90808, USA",(562) 572-3740,Yes,NaN,NaN,...,33.816231,-118.074226,H,2011-02-03T05:56:47Z,US,1,33.811231,-118.079226,33.821231,-118.069226

### 1. Get busy times for each station
#### create dataframes for each day of aggregrate busy-ness within a .1 degree radius

In [7]:
# duplicate dataframe
# busy_column = stationDF

In [8]:
# Limit to Massachussets
ub_lat = 42.7248
lb_lat = 42.03705
ub_long = -70.5432
lb_long = -72.1403

In [9]:
# stationDF.loc[stationDF['column_name'] == some_value]
# df.loc[(df['column_name'] == some_value) & df['other_column'].isin(some_values)]
maDF = stationDF.loc[(stationDF['latitude'] < ub_lat) & (stationDF['latitude'] > lb_lat) & (stationDF['longitude'] < ub_long) & (stationDF['longitude'] > lb_long)]

In [10]:
group = [pd.DataFrame(columns=pd.Series(range(0,24)))]*7;

In [11]:
api_key = os.getenv("GOOGLE_API_KEY")
types = ["establishment"]

In [12]:
def calculate_composite(row, index):
    if index > 10573:
        station_id = row['id']
        station_index = index
        composite_array = [[0] * 24] * 7
        p1 = (row['p1_latitude'], row['p1_longitude'])
        p2 = (row['p2_latitude'], row['p2_longitude'])

        alt_id = populartimes.get(api_key, types, p1, p2, n_threads=30)

        # Calculate composite array for busy times
        for location in alt_id:
            for x in range(7):
                try:
                    composite_array[x] = [composite_array[x][i] + location['populartimes'][x]['data'][i] for i in range(24)]
                except:
                    print('error processing item')
                    pass

        # Create dataframes for each iteam
        for i in range(7):
            day_series = pd.DataFrame(composite_array[i:i+1])
            day_series['id'] = station_id
            day_series['index'] = index
            group[i] = group[i].append(day_series)

        print('processed index item: ', group[1])
        return

In [17]:
# for i in range(7):
#     with open(str(Path('.') / './dataframes/weekly/061818_{}.csv'.format(i)), 'a') as f:
#         group[i].to_csv(f, mode='a', header=False)

In [16]:
# group[0]

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,id,index
0,28,25,10,5,45,131,156,143,104,88,...,140,137,96,69,48,33,25,16,16055.0,9804.0
0,59,23,17,28,86,146,180,266,326,379,...,725,626,515,421,330,206,80,43,16072.0,9816.0
0,0,0,0,0,16,44,91,207,829,1227,...,699,287,224,130,72,29,16,8,16082.0,9824.0
0,40,13,7,7,7,58,157,519,1055,1279,...,2014,1960,1847,1414,924,528,231,127,16131.0,9856.0
0,0,0,0,0,0,96,423,437,968,1327,...,1399,1118,614,323,154,62,16,12,16222.0,9910.0
0,28,12,4,12,17,34,167,401,683,915,...,1118,1057,865,550,247,95,22,12,16374.0,10018.0
0,0,0,0,0,0,25,88,367,553,844,...,589,353,196,124,97,41,6,6,16456.0,10073.0
0,322,152,23,23,16,119,465,1286,2688,4126,...,4931,4611,3983,3120,2113,1272,657,365,16743.0,10280.0
0,1,0,0,1,0,11,22,34,42,117,...,111,100,77,31,1,1,1,0,16756.0,10291.0
0,0,0,0,0,0,0,0,0,0,0,...,30,0,0,0,0,0,0,0,16897.0,10385.0
0,0,0,0,4,4,42,118,96,293,562,...,604,435,294,132,73,9,4,4,16908.0,10390.0
0,0,0,0,0,0,0,0,97,388,498,...,210,111,47,12,0,0,0,0,16909.0,10391.0
0,0,0,0,0,0,0,0,0,260,340,...,301,240,165,100,36,0,0,0,17043.0,10453.0
0,2,1,1,1,15,184,537,792,906,1117,...,1615,1726,1591,1118,654,319,85,25,17227.0,10573.0

In [18]:
# for index, row in maDF.iterrows(): # change to stationDF for full list
#     calculate_composite(row, index)
#     print ('processed index / row: ', index)

In [38]:
len([0,0])

2

### 2. Create number of ports dataframe
#### same size as the busy-ness dataframes to be able to do matrix multiplication

In [26]:
ports_df = pd.DataFrame(columns=pd.Series(range(0,24)))

for i in range(24):
    ports_df[i] = stationDF['port_count']

with open(str(Path('.') / './dataframes/ports_df.csv'), 'a') as f:
    ports_df.to_csv(f, mode='a', header=False)

In [19]:
# stationDF['address']

In [13]:
# stationDF.loc[stationDF['column_name'] == some_value]

### 3. Create quality of port dataframe
#### turn this into a percentage scalar to adjust demand based on perceived quality (div by 10)

In [38]:
# create percentage quality score
stationDF['quality_score'] = stationDF['plug_score'] / 10
stationDF['quality_score'] = stationDF['quality_score'].fillna(value=1)
# print(stationDF['quality_score'])

In [36]:
quality_df = pd.DataFrame(columns=pd.Series(range(0,24)))

for i in range(24):
    quality_df[i] = stationDF['quality_score']

with open(str(Path('.') / './dataframes/quality_df.csv'), 'a') as f:
    quality_df.to_csv(f, mode='a', header=False)

In [40]:
# save stationDF as new CSV to reduce overhead
with open(str(Path('.') / './dataframes/station_updated_db.csv'), 'a') as f:
    stationDF.to_csv(f, mode='a', header=True)

In [32]:
with open(str(Path('.') / './dataframes/ma_df.csv'), 'a') as f:
    maDF.to_csv(f, mode='a', header=True)

### 4. Create file for US EV sales by car / plug type
#### use this for determining specific port busy-ness granularity

In [26]:
ev_sales = str(Path('.') / './dataframes/2017_ev_sales_by_mfg.csv')
ev_sales_df = pd.read_csv(ev_sales,  sep=',', na_values=['NaN'])
ev_sales_df

,BRAND,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,TOTAL,MARKET_SHARE
0,Tesla Model S*,900,1750,3450,1125,1620,2350,1425,2150,4860,1120,1335,4975,"27,060",0.1354
1,Chevrolet Bolt EV,1162,952,978,1292,1566,1642,1971,2107,2632,2781,2987,3227,"23,297",0.1166
2,Tesla Model X*,750,800,2750,715,1730,2200,1650,1575,3120,850,1875,3300,"21,315",0.1067
3,Toyota Prius Prime,1366,1362,1618,1819,1908,1619,1645,1820,1899,1626,1834,2420,"20,936",0.1048
4,Chevrolet Volt,1611,1820,2132,1807,1817,1745,1518,1445,1453,1362,1702,1937,"20,349",0.1018
5,Nissan LEAF,772,1037,1478,1063,1392,1506,1283,1154,1055,213,175,102,"11,230",0.0562
6,Ford Fusion Energi,606,837,1002,905,1000,707,703,762,763,741,731,875,"9,632",0.0482
7,Ford C-Max Energi,473,639,662,720,950,936,844,705,683,569,523,436,"8,140",0.0407
8,BMW i3 (BEV + REx),382,318,703,516,506,567,601,504,538,686,283,672,"6,276",0.0314
9,Fiat 500e**,752,590,785,541,473,359,395,290,285,310,215,385,"5,380",0.0269
10,BMWX5 xDrive 40e,262,275,397,291,433,488,463,317,333,329,929,832,"5,349",0.0268
11,Chrysler Pacifica Hybrid**,12,0,0,335,705,355,125,425,475,875,570,720,"4,597",0.0230
12,BMW 330e,129,144,365,260,475,496,387,409,329,307,477,363,"4,141",0.0207
13,BMW 530e,NaN,NaN,NaN,13,147,239,343,345,511,596,872,706,"3,772",0.0189
14,Volkswagen e-Golf,332,293,342,307,381,232,308,317,187,203,289,343,"3,534",0.0177
15,Audi A3 Sportback e-tron,387,400,414,301,294,324,218,129,85,17,38,270,"2,877",0.0144
16,Hyundai Sonata PHEV,190,175,295,280,220,255,205,185,190,210,135,195,"2,535",0.0127
17,Volvo XC90 T8 PHEV,96,83,103,145,146,202,174,265,236,174,204,368,"2,196",0.0110
18,Kia Soul EV,117,152,171,167,129,100,145,300,255,210,207,204,"2,157",0.0108
19,Ford Focus Electric,56,228,407,125,132,110,148,131,131,115,121,113,"1,817",0.0091
20,Tesla Model 3,NaN,NaN,NaN,NaN,NaN,NaN,30,75,117,145,345,1060,"1,772",0.0089
21,Porsche Cayenne S-E,177,121,126,185,174,195,160,178,124,73,38,23,"1,574",0.0079
22,Kia Optima PHEV,10,61,70,86,85,78,130,182,228,235,213,134,"1,512",0.0076
23,Honda Clarity BEV,NaN,NaN,NaN,NaN,NaN,NaN,34,15,52,34,459,527,"1,121",0.0056
24,Honda Clarity PHEV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,898,903,0.0045
25,Mercedes C350e,210,51,17,3,7,0,112,212,126,49,16,14,817,0.0041
26,Mercedes B250e,53,56,50,66,46,46,81,58,87,59,31,111,744,0.0037
27,BMW 740e,18,35,42,123,33,52,80,39,43,55,120,67,707,0.0035
28,Mercedes S550e,55,51,60,81,83,81,124,32,35,16,22,26,666,0.0033
29,smart ED,15,22,13,3,1,3,0,94,123,73,68,129,544,0.0027
30,Volvo XC60 PHEV,NaN,NaN,NaN,NaN,NaN,NaN,13,65,97,100,82,174,531,0.0027
31,BMW i8,50,58,49,23,18,22,55,29,27,33,44,80,488,0.0024
32,Mini Countryman SE PHEV,NaN,NaN,NaN,NaN,NaN,10,75,86,80,56,96,72,475,0.0024
33,Mercedes GLE 550e,52,59,47,36,33,41,27,23,14,8,41,82,463,0.0023
34,Hyundai IONIQ EV,NaN,NaN,5,19,75,58,43,66,36,28,23,79,432,0.0022
35,Cadillac CT6 PHEV,NaN,NaN,NaN,8,16,20,22,23,27,27,29,35,207,0.0010
36,Volvo S90 T8 PHEV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,28,32,52,117,0.0006
37,Mitsubishi Outlander PHEV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,99,0.0005
38,Chevrolet Spark EV,4,4,3,1,0,1,1,0,0,0,7,2,23,0.0001
39,Porsche Panamera E-Hybrid,2,1,3,2,1,0,0,1,1,2,5,0,18,0.0001
40,Cadillac ELR,3,0,2,2,0,7,2,1,0,0,0,0,17,0.0001
41,Mitsubishi i-MiEV,1,3,2,0,0,0,0,0,0,0,0,0,6,0.0000
42,2017 U.S. Sales Totals,"11,005","12,377","18,541","13,365","16,596","17,046","15,540","16,514","21,242","14,315","17,178","26,107","199,826",1.0000
43,2016 U.S. Sales Totals,"6,221","7,763","13,857","10,531","11,467","14,863","13,067","14,592","17,224","11,007","13,237","24,785","158,614",NaN
44,2017 Worldwide Sales*,"41,372","53,561","94,650","71,762","91,417","102,130","92,835","104,225","124,197","125,447","148,903","176,618","1,227,117",NaN

### 5. Calculate composite dataframe 
#### multiply each data frame 1-3 above to yield dataframe 4

### 6. Save dataframes to AWS
#### test API calls to get availability at current time or a specific time

### Sandbox

In [18]:
# Get Google data for an address and compare versus Lat / Lng

In [19]:
# See what is returned for that address

# See what types are returned

In [200]:
print(len(alt_id))

1

In [ ]:
# alt_id[ESTABLISHMENT]['populartimes'][DAY_OF_WEEK]['data]
# returns an array of 24 times
# print(alt_id[0]['populartimes'][0]['data'])

In [ ]:
# print(composite_array[6])
# a = [[0] * 24] * 7
# print(alt_id[0]['populartimes'][0]['data'])
# print(alt_id[0]['populartimes'][0]['data'][24])
# print(alt_id[0]['populartimes'][0]['data'][25])

In [ ]:
# google_places = GooglePlaces(api_key)

# query_result = google_places.nearby_search(location=test_address)
# for place in query_result.places:
#     print (place.name)
#     print (place.geo_location)
#     print (place.place_id)

# for place in query_result.places:
#     place.get_details()
#     print (place.rating)

In [7]:
# api_key = os.getenv("GOOGLE_API_KEY")
# test_address = "1018 Campus Drive, Stanford, CA 94305, USA"
# test_address_2 = "125 Precita Ave, Moss Beach, CA 94038, USA"
# test_address_3 = "425 S Main St, Ann Arbor MI 48104"
# types = ["establishment"]
# p1 = (37.220627, -122.369142)
# p2 = (37.230627, -122.359142)

In [8]:
# test_name = "Boulder Nissan"
# p1_name = (40.015141, -105.278906)
# p2_name = (40.025141, -105.268906)

# min(p1_name[0], p2_name[0])

In [9]:
# alt_id = populartimes.get(api_key, types, p1_name, p2_name)

In [10]:
# composite_array = [[0] * 24] * 7

In [11]:
# for location in alt_id:
#     for x in range(7):
#     #     composite_array = [a[i]+b[i] for i in range(len(a))]
#         try:
#             composite_array[x] = [composite_array[x][i] + location['populartimes'][x]['data'][i] for i in range(24)]
#         except:
#             print('error processing item')
#             pass

In [12]:
# print(composite_array)

In [13]:
# print(alt_id[7]['populartimes'][6]['data'])

# df_test = pd.DataFrame()

In [14]:
# df_test.append([[1,0,0,0], [2,0,0,0]])

In [14]:
# api_key = os.getenv("GOOGLE_API_KEY")
# types = ["establishment"]
# p1_name = [40.015141, -105.278906]
# p2_name = [40.025141, -105.268906]
# composite_array = [[0] * 24] * 7

# alt_id = populartimes.get(api_key, types, p1_name, p2_name)

In [15]:
# for location in alt_id:
#     for x in range(7):
#     #     composite_array = [a[i]+b[i] for i in range(len(a))]
#         try:
#             composite_array[x] = [composite_array[x][i] + location['populartimes'][x]['data'][i] for i in range(24)]
#             print(composite_array[x])
#         except:
#             print('error processing item')
#             pass

In [16]:
# for i in range(7):
#     day_series = pd.DataFrame(composite_array[i:i+1])
#     day_series['id'] = 3
#     group[i] = group[i].append(day_series)

In [17]:
# print('processed item, current group[1] is: ', group[1])