In [26]:
import psycopg2
import pandas as pd
import numpy as np
from pathlib import Path

### Connect to AWS db

In [13]:
host = 'chargingbusydb.cvfctobydzsd.us-east-1.rds.amazonaws.com'
user = 'AdamBehrens'
passw = ''
database = 'stationbusydb'
port='5432'
conn_str = "host={} dbname={} user={} password={} port={}".format(host, database, user, passw, port)

### load CSV data

In [117]:
# load each day csv file
monday_path = str(Path('.') / './dataframes/weekly/061818_0.csv')
monday_df = pd.read_csv(monday_path,  sep=',')
f = open(r'{}'.format(monday_path), 'r')

In [139]:
monday_df.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,16,17,18,19,20,21,22,23,id,index
count,642.0,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,...,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000
mean,0.0,37.451713,19.540498,8.093458,5.961059,8.176012,36.390966,109.221184,240.353583,475.473520,...,988.805296,919.685358,822.683801,652.674455,443.895639,250.889408,118.554517,61.210280,56910.887850,39279.532710
std,0.0,82.609895,49.146720,19.784107,13.996770,16.501648,50.680315,143.982982,289.126499,536.775666,...,1247.471062,1224.810942,1137.955394,945.489863,691.411006,436.332727,231.125944,125.411464,41513.674092,30664.550972
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.000000,16.000000
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.000000,81.250000,...,112.000000,76.000000,58.250000,38.250000,17.250000,2.000000,0.000000,0.000000,13658.000000,8214.250000
50%,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,16.000000,60.000000,143.500000,322.500000,...,588.000000,475.500000,383.500000,293.000000,155.000000,65.500000,17.000000,4.500000,58015.500000,37690.500000
75%,0.0,27.750000,9.750000,4.000000,4.000000,8.750000,53.500000,156.000000,339.500000,651.500000,...,1397.750000,1237.500000,1119.000000,921.250000,602.750000,296.250000,121.750000,55.000000,91809.750000,64142.750000
max,0.0,658.000000,441.000000,173.000000,103.000000,116.000000,374.000000,991.000000,1635.000000,3058.000000,...,6969.000000,7223.000000,7002.000000,5965.000000,4473.000000,2876.000000,1507.000000,829.000000,130730.000000,97651.000000

### perform db operations

In [158]:
conn = psycopg2.connect(conn_str)

#### open cursor

In [159]:
# open a cursor to perform operations
cur = conn.cursor()

In [162]:
cur.execute('DROP TABLE tuesday')

In [160]:
data = cur.execute('SELECT COUNT(*) FROM tuesday;')

In [163]:
cur.copy_from(f, 'tuesday', sep=',', null="")

ProgrammingError: relation "tuesday" does not exist

In [164]:
conn.commit()
cur.close()
conn.close()

In [132]:
data = cur.execute('SELECT COUNT(*) FROM monday;')

In [161]:
cur.fetchone()

(387,)

In [134]:
cur.execute('SELECT * FROM monday;')

In [136]:
cur.fetchone()

InterfaceError: cursor already closed

In [ ]:
# define SQL operation
# SQL = "IF EXISTS (SELECT * FROM monday WHERE index = (%s))
BEGIN
END
ELSE
BEGIN
    INSERT INTO monday
END;"

In [ ]:
# for each row in monday file:
    # pull the id
    # check if the row exists in the db
    # if 
for index, row in maDF.iterrows(): # change to stationDF for full list
    index = row['index']